<div class="main">
   <div class="auth-box">
      <p class="m-txt">Registeration</p>
      <p class="d-txt">fill all fields</p>
  
      <div class="input-box">  
          <div id = "name" class="name box">
          <p>Name</p>
      <input id type="text">
      </div>

      <div id="email" class="email box">
         <p>E-mail</p>
         <input id type="text">
      </div>

      <div id="password" class="password box">
         <p>Password</p>
         <input id type="text">
      </div>
   </div>
      <div class="btn-box">
         <button id = "reg" class="btn register">
         <a><p>Register</p></a>
      </button>
   </div>
</div>
</div>