<div class="main">



      <div class="auth-block">
            <p class="usertxt" *ngIf="user">Logged in as: "{{ user?.email }}" name is: "{{ user?.displayName}}" </p>
            <p class="maintxt" *ngIf="!user">Authorization</p>

       <div class="btn-block">
     <button *ngIf = "!user" (click)="register()" class="btn register">
           Register
     </button>

     <button *ngIf= "!user" (click)="login()" class="btn login">
           Login
     </button>
      <button *ngIf="user" class="btn logout" (click)="logout()">
           Logout
      </button>
    </div>
   </div>
   </div>
